<!-- 
<p-toolbar class="my-toolbar" styleClass="mb-4">
    <ng-template pTemplate="left">
       
       
    </ng-template>
    <ng-template pTemplate="center">
        <h1>ChinessAction</h1>
    </ng-template>
    <ng-template pTemplate="right">
        <h3>{{count}}</h3>
        <button (click)="goToCart()" pButton pRipple label="Go To Cart" icon="pi p-confirmDialog" class="p-button-help"></button>
    </ng-template>
</p-toolbar>

<div class="my-css">
    <p-table #dt [value]="gifts" [rows]="5" [paginator]="true"
        [globalFilterFields]="['name','category','representative.name','status']" [(selection)]="selectedGifts"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Gifts</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>

                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 2rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="donor">Donor <p-sortIcon field="donor"></p-sortIcon></th>
                <th pSortableColumn="cost">Cost <p-sortIcon field="cost"></p-sortIcon></th>
                <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="image">Image <p-sortIcon field="image"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-gift>
            <tr>
                <td>
                    <p-tableCheckbox [value]="gift"></p-tableCheckbox>
                </td>
                <td>{{gift.id}}</td>
                <td>{{gift.name}}</td>
                <td>{{gift.donor.name}}</td>
                <td>{{gift.cost}}</td>
                <td>{{gift.description}}</td>
                <td>{{gift.image}}</td>
                <td>
                    
                    <button (click)="addToCart(gift)" pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-warning"
                       ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{gifts ? gifts.length : 0 }} gifts.
            </div>
        </ng-template>
    </p-table>
  
</div> -->
<!-- <p-carousel [value]="gifts" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="autoplayInterval">
    <ng-template let-gift pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
           
            <div>
                <h4 class="mb-1">{{ gift.name }}</h4>
                <h6 class="mt-0 mb-3">{{ '$' + gift.cost }}</h6>
                <div class="car-buttons mt-5">
                    <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>
                    <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-star-fill"></p-button>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel> -->
<!-- 
<p-carousel [value]="gifts" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="autoplayInterval">
    <ng-template let-gift pTemplate="item">
        <div class="p-grid">
            <div class="p-col-12">
                <div class="card p-shadow-2">
                    <img src="{{ gift.image }}" class="card-img-top" alt="Gift Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ gift.name }}</h5>
                        <p class="card-text">{{ gift.description }}</p>
                        <p class="card-text">Cost: {{ gift.cost }}</p>
                        <p class="card-text">Name: {{ gift.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel> -->












           
           <div>
            
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" placeholder="Search..." />
              </span>
        
           </div>

   <div class="card-container"  >
      <div class="card" *ngFor="let gift of gifts" >
        <div class="card-content">
          <div class="card-header">התורם: {{gift.donor }} </div>
          <div class="card-name">{{gift.name }}</div>
          <div class="card-price">{{ gift.cost  | currency : 'ILS'}}</div>
          <img  [src]="'assets/images/' + gift.description" class="card-image" />
          <button class="card-button" (click)="addToCart(gift)" >Add to Cart</button>
          

        </div>
      </div>
     
  
    </div>
    <span>
      <button class="card-button1" (click)="goToCart()" style="width: 200px; height: 60px; background-color: brown; ">Go to Cart</button>
    </span>
  
    
  <!-- </p> -->
  
  
    
  
  
  
  