<header class="header">
    <nav class="navbar" >
      <ul>
        <li><a href="#">Home </a></li>
        <li><a routerLink="gifts" routerLinkActive="active-link" >Gifts List</a></li>
        <li><a routerLink="donors" routerLinkActive="active-link">Donors List</a></li>
        <li> <a  routerLink="users" routerLinkActive="active-link">Users List</a></li>
      </ul>
    </nav>
  </header>

<p>user-home works!</p>
<button class="btn btn-outline-dark" routerLink="gifts" routerLinkActive="active-link">Gifts List</button>
<router-outlet></router-outlet>