<!-- 
<body >
    
<h3>welcom to home page</h3>

<div id="h">
   <div style="display: flex; gap:20vw ;margin-left: 30vw ;">
        <a style="color: rgb(228, 218, 218); " (click)="managerDialog=true">Manager</a>
       <a routerLink="user" routerLinkActive="active-link";">User</a>
</div>
  
 
</div>
<div *ngIf="managerDialog">
    <p-dialog [(visible)]="managerDialog" [style]="{width: '450px'}" header="user Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="p-field">
                <label for="userName">userName</label>
                <input type="text" pInputText id="userName" [(ngModel)]="userName" />
            </div>
            <div class="p-field">
                <label for="password">password</label>
                <input type="password" pInputText id="password" [(ngModel)]="password">

            </div>


        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="goToManager()"></button>
        </ng-template>
    </p-dialog>



</div>



   </body> 

<router-outlet></router-outlet>



 -->

  <title>גורלים אונליין</title>
<body   >
  <header class="header">
    <nav class="navbar" >
      <ul>
        <li><a href="#">Home </a></li>
        <li><a (click)="managerDialog=true">Manager</a></li>
        <li><a routerLink="user" routerLinkActive="active-link">User</a></li>
        <li><a href="#"> Contact Us</a></li>
      </ul>
    </nav>
    <h1>גורלים אונליין</h1>
  </header>
  <img src="assets/images/33.gif" style="margin-left: 15vw; width: 70vw; height: 70vh;border-radius: 50%;">



<footer class="footer">
<p>כל הזכויות שמורות © 2022 גורלים אונליין</p>
</footer>
<div *ngIf="managerDialog">
    <p-dialog [(visible)]="managerDialog" [style]="{width: '450px'}" header="user Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="p-field">
                <label for="userName">userName</label>
                <input type="text" pInputText id="userName" [(ngModel)]="userName" />
            </div>
            <div class="p-field">
                <label for="password">password</label>
                <input type="password" pInputText id="password" [(ngModel)]="password">

            </div>


        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="goToManager()"></button>
        </ng-template>
    </p-dialog>



</div>
</body>
